<h3>Мои заказы</h3>

<table class="table table-condensed">
  <tr>
    <th>idt</th>
    <th>User</th>
    <th>Email</th>
    <th>Дата</th>
    <th>Статус</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.user_id %></td>
    <td><%= order.email %></td>
    <td><%= order.created_at %></td>
    <td>
    <% if order.status = "processing" %>
    	Обрабатывается
    <% else %>
    	<%= order.status%>
    <% end %>
    </td>
    <td><%= link_to 'Показать', order %></td>
  </tr>
<% end %>
</table>

<%= paginate @orders %>
<br />
