<p id="notice"><%= notice %></p>

<p>
  <b>Имя:</b>
  <%= @order.customer_name %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Арес:</b>
  <%= @order.adress %>
</p>
<p>
<b>Телефон:</b>
  <%= @order.phone %>
</p>
<b>Примечания:</b>
  <%= @order.comments %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
