<h3>Заказ № <%= @order.id %></h3>
<p>
  <b>Имя:</b>
  <%= @order.customer_name %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Арес:</b>
  <%= @order.adress %>
</p>
<p>
<b>Телефон:</b>
  <%= @order.phone %>
</p>
<b>Примечания:</b>
  <% if @order.comments = "" %>
  нет
  <% else %>
  <%= @order.comments %>
  <% end %>
</p>

<%= render 'orders/order_table' %>

<%= link_to 'Назад', orders_path %>
