	
<div class="row row_1">
<div id="carusel" class="span8">	
<% @products = get_random_products(3) %>
	<div id="myCarousel" class="carousel slide">
	 <div class="carousel-inner">
	 <% @products.each do |product| %>
	 	<div class="item">
	     <%= image_tag(product.image_url.to_s) %>
	     <div class="carousel-caption">
	       <h4>First <%= product.name %></h4>
	       <p><%= product.description %></p>
	     </div>
	   </div>
	 <% end %>
	 </div>
	 <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	 <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div> <!-- myCarusel -->
  </div> <!-- span5 -->

  <div class="span4">
  	<%= link_to image_tag("00001.jpg") %>	
  	<div class="caption">
  	</br>
  		<p>Цена: 200руб. </p>
  		<p> <%= link_to root_path do %>
  			<i class="icon-shopping-cart"></i>
  			Добавить в корзину
  		<% end %>
  		</p>
  		<p><%= link_to root_path do %>
  			<i class="icon-search"></i>
  			Подробнее
  		<% end %>
  		</p>
  	</div>
  </div>
  </div><!-- end row-->
  <div class="row">
  <h3>Новинки</h3>
  <% @products = get_random_products(3) %>
  	<ul class="thumbnails">
	  <% @products.each do |product| %>
	  <li class="span4">
	    <%= link_to image_tag(product.image_url(:thumb)),  product  %>
	    <div class="caption">
	    </br>
	    	<p>Цена: <%= product.price %> руб.</p>
	    	<p> <%= link_to add_to_cart_path(product) do %>
	  			<i class="icon-shopping-cart"></i>
	  			Добавить в корзину
	  		<% end %>
	  		</p>
	  		<p><%= link_to product do %>
	  			<i class="icon-search"></i>
	  			Подробнее
	  		<% end %>
	    </div>
	  </li>
	  <% end %>
	</ul>
  </div>
  
  
