
<table class="table table-bordered">
  <tr>
    <th>№</th>
    <th>Товар</th>
    <th>Цена</th>
    <th>Количество</th>
    <th>Сумма</th>
    <th></th>
  </tr>
<% @i =0 %>
<% for item in @cartitems %>
<% @i+=1 %>
  <tr>
  	 <td><%= @i %></td>
  	 <td><%= link_to item.product.name, product_url(item.product_id) %></td>
  	 <td><%= item.product.price %></td>
  	 <td><%= item.quantity %></td>
  	 <td><%= item.quantity*item.product.price %></td>
  	 <td><%= link_to "Удалить", item, method: :delete %></td>
  </tr>
  <% end %>
  <tr>
  		<td></td>
  		<td></td>
  		<td></td>
		<td><b>Итог:</b></td>
		<td><b><%= sum_up %></b></td>
		<td><%= link_to "Пересчитать", recalculate_path, :class=>"btn" %></td>  
  </tr>
</table>
<div class="new-order-btn">
	<%= link_to "Оформить заказ", new_order_path, :class=>"btn" %>
</div>

