<div class="row-fluid">
	<div>
		<ul class="breadcrumb">
		  <li><%= link_to "Главная", pages_home_path %> <span class="divider">/</span></li>
		  <li><%= link_to "Все браслеты", products_path %> <span class="divider">/</span></li>
		  <li class="active"><%= link_to @product.name, product_path %></li>
		</ul>	
	</div>
	<div class="row-fluid product-description">
	   <div class="row-fluid page-header">
	   	<div class="span">
				<h3><%= @product.name %></h3> 
				<h4> Цена: <%= @product.price %> руб.</h4>
				<div class="on-right">
					<%= link_to add_to_cart_path(@product), :class=>"btn btn-info" do %>					
						<i class=" icon-white icon-plus"></i>
						Добавить в корзину
					<% end %>
				</div>
			</div>
		</div>
		<div class="span6">
			<div>
				<%= link_to image_tag(@product.image_url.to_s), image_path(@product.image_url.to_s), :id => "b_image" %>
			</div>
		</div>
		<div class="span5">
			<div class="caption">
				<div class="page-header">
					<h5>Описание:</h5>
				</div>
				<p><%= @product.description %></p>		
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="infoHeading">Популярные браслеты</div></br>
	<ul class="thumbnails">
		<li class="span3">
			<%= link_to products_path, :class =>"thumbnail" do %>
	      <%= image_tag(@product.image_url(:thumb)) %>
	      <% end %>	
		</li>
		<li class="span3">
			<%= link_to products_path, :class =>"thumbnail" do %>
	      <%= image_tag(@product.image_url(:thumb)) %>
	      <% end %>	
		</li>
		<li class="span3">
			<%= link_to products_path, :class =>"thumbnail" do %>
	      <%= image_tag(@product.image_url(:thumb)) %>
	      <% end %>	
		</li>
		<li class="span3">
			<%= link_to products_path, :class =>"thumbnail" do %>
	      <%= image_tag(@product.image_url(:thumb)) %>
	      <% end %>	
		</li>
	</ul>
</div>